@font-face {
  font-family: "UhBeeZZIBA-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/UhBeeZZIBA-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
